extends /layouts/application.pug

block content
  .row
    .mx-auto
      h2 Your current avatar:
      .p-1
      img.rounded-circle(src=userAvatar() width='300px' height='300px')
      .p-2
      form(action=urlFor('userProfile', userId()) method='post' enctype="multipart/form-data")
        .form-group
          label.custom-file
            input.custom-file-input(type="file" multiple name="file")
            span.custom-file-control
        small Upload png/jpg image with a maximum size of 4 MB
        .d-flex.flex-row
          .p-3
            input.btn.btn-success.btn-lg(type="submit" value="submit")
          .p-3    
            a.btn.btn-primary.btn-lg(href=urlFor('userProfile', userId()) data-method='get' role='button' rel='nofollow') Back
