extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('userUpdate', f.object.id), method: 'post' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    input(type="hidden" name="_method" value="PATCH")
    +button(f)
    
    
