extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('userUpdate', f.object.id), method: 'post' })
    +input('center', f, 'email')
    +input('center', f, 'firstName')
    +input('center', f, 'lastName')
    input(type="hidden" name="_method" value="PATCH")
    +button(f)
    .row.justify-content-center
      a.btn.btn-warning(href=urlFor('userProfile', userId()) data-method='get' role='button' rel='nofollow') 
        i.mr-1.fa-long-arrow-left
        |   Back
    
    
