extends /layouts/application.pug

block content
  br
  table.table.table-hover
    thead
      tr
        th.text-center Full Name
        th.text-center Email
        th.text-center Created At
        th.text-center Profile
    tbody
      if users
        each user in users
          tr
            td.text-center= user.fullName
            td.text-center= user.email
            td.text-center= changeFormat(user.createdAt, 'mmmm d, yyyy')
            td.text-center
              a(href= urlFor('userProfile', user.id)) view
